body {
	margin: 0;
  background:powderblue;
   font-family:arialial;
}

header {
	background: #999;
	color: white;
	padding: 15px 15px 0 15px;
}

h1, h2, li {
  color: #555
}
p {
  background: #666;
color: white;
padding:10px;
}
.secondary {
background: none;
color: #777;
}

#nav {
background: red;
color: white;
}

nav ul li {
	display:inline-block;
	list-style-type-none;
	padding: 5px 15px 5px 15px;
}